<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lecklogic.lowprioritytask</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sloth/GRQ/sloth.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>Nice</key>
    <integer>20</integer>
    <key>UserName</key>
    <string>sloth</string>
    <key>WorkingDirectory</key>
    <string>/Users/sloth</string>
    <key>StandardOutPath</key>
    <string>/Users/sloth/logs/sloth.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sloth/logs/sloth.err.log</string>
</dict>
</plist>
