<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lecklogic.lowprioritytask</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sloth/src/GRQ/sloth.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>600</integer> <!-- 10 minutes -->
    <key>RunAtLoad</key>
    <true/>
    <key>Nice</key>
    <integer>20</integer> <!-- 20 = lowest possible priority -->
</dict>
</plist>
